@use 'sass:math';

@use '../config' as *;

@keyframes burger-top-bar {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}

@keyframes burger-top-bar-reverse {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  70% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes burger-bottom-bar {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@keyframes burger-bottom-bar-reverse {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  70% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@keyframes rotation {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.animation-item {
  opacity: 0;
  transform: translateX(20px) translateY(-20px);
  transition: none;
}

.animation-item.animation-active {
  animation: fadeIn 1s ease forwards;
  animation-delay: 3s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.no-scroll {
  overflow: hidden !important;
}

.main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;

  @include media-breakpoint-down(lg) {
    height: auto;
    overflow: auto;
  }
}

.section {
  height: 100vh;
  min-height: 775px;
  max-height: 1000px;
  scroll-snap-align: start;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    height: auto;
    min-height: initial;
    max-height: initial;
  }

  // @include media-breakpoint-down(md) {
  //   height: auto;
  //   min-height: 755px;
  //   max-height: initial;
  //   scroll-snap-type: initial;
  // }
}

.h1, .h2, .h3, .subtitle {
  font-family: 'risque', sans-serif;
}

.h1 {
  @include fluid-text(72, 52);
}

.h2 {
  @include fluid-text(56, 52);
}

.h3 {
  font-size: 42px;
}

.subtitle {
  @include fluid-text(38, 28);
}

.btn {
  outline: none;
  display: inline-flex;
  padding: 0.75em 2.5em 0.75em;
  border: 2px solid #fff;
  border-radius: 1.25em 1.25em 1.25em 0;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  transition: .3s;

  @media(hover: hover){
    &:hover {
      background-color: #fff;
      color: var(--dark);
    }
  }
}

.decor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  
  &__container {
    position: relative;
    height: 100%;
  }
}

.snowflake {
  width: fluid(448, 400);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  animation: rotation;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: 1;
  pointer-events: none;
}