@use "../config" as *;

.presents {
    background-image: url('../assets/img/section-2-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(lg) {
        padding-top: 130px;
        padding-bottom: 100px;
    }

    &__container {
        display: flex;
        align-items: center;
        column-gap: 20px;
        height: 100%;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            row-gap: 70px;
        }
    }

    &__left {
        .h2 {
            margin-bottom: fluid(30, 25);
            text-wrap-style: balance;

            @include media-breakpoint-down(lg) {
                text-align: center;
            }

            @include media-breakpoint-down(sm) {
                text-align: left;
            }
        }

        .subtitle {
            margin-bottom: fluid(30, 35);

            @include media-breakpoint-down(lg) {
                text-align: center;
            }

            @include media-breakpoint-down(sm) {
                text-align: left;
            }
        }
    }

    &__options {
        display: flex;
        justify-content: flex-start;
        column-gap: fluid(35, 20);

        @include media-breakpoint-down(lg) {
            justify-content: center;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fluid(150, 110);
        height: fluid(150, 110);
        border-radius: 100%;
        background-color: #fff;
        border: 5px solid #fff;
        padding: 20px;
        cursor: pointer;   
        transition: border-color .3s, background-color .3s; 

        @include media-breakpoint-down(sm) {
            width: calc(33% - 10px);
            height: auto;
            aspect-ratio: 1 / 1;
        }

        &--active {
            background-color: transparent;
        }

        &-img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        @media(hover: hover) {
            &:not(.presents__option--active) {
                &:hover {
                    border-color: var(--cola-red);
                }
            }
        }
    }

    &__right {
        width: 100%;
        max-width: 550px;

        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }

    .description__item {
        opacity: 0;
        visibility: hidden;
        display: none;
        align-items: center;
        justify-content: space-between;
        column-gap: fluid(30, 0);
        min-height: 405px;
        min-width: 480px;
        border: 3px solid #fff;
        border-radius: 20px;
        padding: 35px;

        @include media-breakpoint-down(lg) {
            height: auto;
            min-height: 340px;
        }

        @include media-breakpoint-down(sm) {
            border: none;
            border-radius: 0;
            flex-direction: column-reverse;
            min-height: auto;
            min-width: auto;
            padding: 0 40px;
        } 
        
        &.active {
            opacity: 1;
            visibility: visible;
            display: flex;
        }

        &-content {
            width: 65%;
            flex-shrink: 0;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

        }

        &-title {
            margin-bottom: 30px;

            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }

        &-text {
            font-size: 28px;
        }

        &-img {
            max-width: 136px;
        }
    }
}